numpy
numba
meshio
# CPU-only version
#jax
# GPU version with CUDA 12
#jax[cuda12]
# GPU version with CUDA 13 (recommended)
#jax[cuda13]
jaxopt
libigl
matplotlib
mpi4py
fenics-basix
psutil
cupy-cuda12x
flax